1 Programa la impresión de una tabla de multiplicar para todos los números entre 1 y 10, usando For-loops
Rendimiento esperado:
 1   times  1  =    1
 1   times  2  =    2
 ...
 1   times 10  =   10
 ...
10   times 10  =  100

In [ ]:
Numero = int(input("Ingresa un número: "))

for a in range(0,11):
   result = a * Numero
   print(Numero, " times ", a, " = ", result)

Digite un numero: 5
5  times  0  =  0
5  times  1  =  5
5  times  2  =  10
5  times  3  =  15
5  times  4  =  20
5  times  5  =  25
5  times  6  =  30
5  times  7  =  35
5  times  8  =  40
5  times  9  =  45
5  times  10  =  50

2 Programe un calendario (para todos los meses) para 2020 usando For-loops
Rendimiento esperado:

In [ ]:
import calendar

año = int(input("Año: "))

for b in range(1,13):
        print(calendar.month(año,b))

Año: 2020
    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

     March 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

      May 2020
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

     June 2020
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

     July 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

    August 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

    October 2020
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

3 Programe la siguiente regulación fiscal, usando datos ficticios con declaraciones condicionales, use las tres cláusulas (if, elif, else) al menos una vez
Si el valor del paquete es inferior a 20 no tienes que pagar ningún impuesto de importación Si el valor del paquete está entre 20 y 30 pagas 10% de impuesto de importación sobre el valor total Si el valor del paquete está entre 30 y 60, paga un impuesto de importación adicional del 7% sobre el valor superior a 30 Si el valor del paquete es superior a 60, paga un impuesto de importación adicional del 3% sobre el valor superior a 60

Si el valor del paquete es superior a 10 pagas el 20% de IVA sobre la suma total del valor e impuesto de importación

El valor del paquete debe establecerse en una variable y debe probar si su programa funciona para diferentes valores.

Salida esperada (ejemplo):
El valor del paquete fue de 25,00, el impuesto de importación es de 2,50, el IVA es de 5,50, el total es de 33,00.

In [ ]:
valor = int(input("Digite un numero"))

if valor > 20 and valor < 30:
    result1 = valor
    Impuesto = (((valor*10)/100)+valor)
    TOTAL = result1+Impuesto
    IVA = ((TOTAL*20)/100)
    TOTALF = round(TOTAL+IVA, 2)
    
    print("El valor del paquete es de", result1, ", el impuesto de importación es de", Impuesto, ", el IVA es de", IVA, ", el total es ", TOTALF )

if valor > 30 and valor < 60:
    result1 = valor
    Impuesto = (((valor*7)/100)+valor)
    TOTAL = result1+Impuesto
    IVA = round(((TOTAL*20)/100), 2)
    TOTALF = round(TOTAL+IVA, 2)
    
    print("El valor del paquete es de", result1, ", el impuesto de importación es de", Impuesto, ", el IVA es de", IVA, ", el total es ", TOTALF )

elif valor > 60:
    result1 = valor
    Impuesto = (((valor*3)/100)+valor)
    TOTAL = result1+Impuesto
    IVA = round(((TOTAL*20)/100), 2)
    TOTALF = round(TOTAL+IVA, 2)
    
    print("El valor del paquete es de", result1, ", el impuesto de importación es de", Impuesto, ", el IVA es de", IVA, ", el total es ", TOTALF )

else:
    result1 = valor
    Impuesto = 0
    TOTAL = result1+Impuesto
    IVA = 0
    TOTALF = valor
    
    print("El valor del paquete es de", result1, ", el impuesto de importación es de", Impuesto, ", el IVA es de", IVA, ", el total es ", TOTALF )

Digite un numero15
El valor del paquete es de 15 , el impuesto de importación es de 0 , el IVA es de 0 , el total es  15

4 Reescribe el siguiente programa reemplazando la declaración condicional con expresiones condicionales

In [ ]:
a = -1
if a == 0:
    result = "= 0"
elif a>1:
    result = "> 1"
else:
    result = "<= 1"
print(result)

<= 1

In [ ]:
a = -1
result  =  "> 1" if a > 1 else "<= 1 "
print(result)

<= 1

5 Reescriba el siguiente programa reemplazando la lista de comprensión con un while-loop

In [ ]:
list_1 = [1, 2, 3, 4]
result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
print(result)

[4, 16]

In [ ]:
list_1 = [1, 2, 3, 4]
while list_1 :
    result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
    print(result)
    break

[4, 16]

6 En la clase 1 te mostramos las siguientes afirmaciones:

In [ ]:
a = 1
b = 1
print(a is b)

a = 1000
b = 1000
print(a is b)

Y, por supuesto, tienes curiosidad por la diferencia. Aprendimos en la clase 1 que los números enteros -5 hasta 255 fueron internados (guardados en disco) cuando comenzó Python, esto significa que los objetos con estos valores ya estaban creados. Ahora deseaamos escribir un programa que nos diga que 256 es de hecho el primer número entero que Python no esta guardado en disco.

Escrbimos el siguiente programa y ahora necsitamos explicar por qué este programa imprimirá "Sorpresa". ¿No debería romperse mientras se procesa el número entero 256, ya que ese número no está guardado internamente?

In [ ]:
for x in range(1000):
    a = x
    b = x
    if not (a is b):
        print(f"the highest integer {x-1}")
        break
else:
    print("Surprise")

Surprise

In [ ]:
#Range es inmutable en toda la secuencia y con 'for' definimos el bucle sobre el cual actuar el código

7 Vuelva a escribir la siguiente declaración sin un bucle y solo usando declaraciones condicionales:

In [ ]:
i = 1
while i < 4:
    print(i)
    i +=1

1
2
3

In [17]:
i = 1
if 1 < 4:
    valor = i
    valor1 = i+1
    valor2 = i+2

print(valor)
print(valor1)
print(valor2)

1
2
3